<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%-5level] %message%newline"/>
    </layout>"
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="./ResourceGenerator.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <datePattern value="yyyyMMdd"/>

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%-5level] %message%newline"/>
    </layout>"

    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <appender name="notify" type="YasT.Framework.Logging.NotifyAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%-5level] %message%newline" />
    </layout>

    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="notify" />
    <appender-ref ref="file" />
    <appender-ref ref="console"/>
  </root>
</log4net>
