################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/BookManager/YtBookManagerCore/bin
/BookManager/YtBookManagerCore/obj
/BookManager/YtBookManagerCore/.vs
