################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################
/.vs

/SimpleDigitalClock/.vs
/SimpleDigitalClock/SimpleDigitalClock/SimpleDigitalClock/bin
/SimpleDigitalClock/SimpleDigitalClock/SimpleDigitalClock/obj
/SimpleDigitalClock/SimpleDigitalClockInstaller/Debug
/SimpleDigitalClock/SimpleDigitalClockInstaller/Release
/SimpleDigitalClock/SimpleDigitalClock/obj
/SimpleDigitalClock/SimpleDigitalClock/bin

/DDLGenerator/.vs
/DDLGenerator/DDLGenerator/bin
/DDLGenerator/DDLGenerator/obj
/DDLGenerator/DDLGeneratorInstaller/Debug
/DDLGenerator/DDLGeneratorInstaller/Release

/MemorieDeFleurs/.vs
/MemorieDeFleurs/MemorieDeFleurs/bin
/MemorieDeFleurs/MemorieDeFleurs/obj
/MemorieDeFleurs/MemorieDeFleursTest/bin
/MemorieDeFleurs/MemorieDeFleursTest/obj
/MemorieDeFleurs/MemorieDeFleurs.UI.WPF/bin
/MemorieDeFleurs/MemorieDeFleurs.UI.WPF/obj

/GameOfLife/.vs
/GameOfLife/GameOfLife/bin
/GameOfLife/GameOfLife/obj
/GameOfLife/GameOfLife.Core.Test/bin
/GameOfLife/GameOfLife.Core.Test/obj
/GameOfLife/GameOfLife.UI/bin
/GameOfLife/GameOfLife.UI/obj

/SVGEditor/.vs
/SVGEditor/SVGEditor/bin
/SVGEditor/SVGEditor/obj
/SVGEditor/SetupSVGEditor/Debug
/SVGEditor/SetupSVGEditor/Release

/YasT.Framework/.vs
/YasT.Framework/YasT.Framework.Logging/bin
/YasT.Framework/YasT.Framework.Logging/obj
/YasT.Framework/YasT.Framework.WPF/bin
/YasT.Framework/YasT.Framework.WPF/obj
/YasT.Framework/YasT.Framework.WPF.Test/bin/
/YasT.Framework/YasT.Framework.WPF.Test/obj

/ResourceGenerator/.vs
/ResourceGenerator/ResourceGenerator/bin
/ResourceGenerator/ResourceGenerator/obj
/ResourceGenerator/ResourceGeneratorInstaller/Debug
/ResourceGenerator/ResourceGeneratorInstaller/Release
