################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/BookManager/YtBookManagerCore/bin
/BookManager/YtBookManagerCore/obj
/BookManager/YtBookManagerCore/.vs
/.vs

/BookManager/.vs/YtBookManagerCore
/SimpleDigitalClock/.vs/SimpleDigitalClock
/SimpleDigitalClock/SimpleDigitalClock/SimpleDigitalClock/bin/Debug/netcoreapp3.1
/SimpleDigitalClock/SimpleDigitalClock/SimpleDigitalClock/obj
/SimpleDigitalClock/SimpleDigitalClockInstaller/Debug
/SimpleDigitalClock/SimpleDigitalClock/obj
/SimpleDigitalClock/SimpleDigitalClock/bin/Debug/netcoreapp3.1
/DDLGenerator/.vs
/DDLGenerator/DDLGenerator/bin
/DDLGenerator/DDLGenerator/obj

/DDLGenerator/DDLGeneratorInstaller/Debug
/DDLGenerator/DDLGeneratorInstaller/Release

/MemorieDeFleurs/.vs/MemorieDeFleurs/v16
/MemorieDeFleurs/MemorieDeFleurs/bin/Debug/net5.0
/MemorieDeFleurs/MemorieDeFleurs/obj
/MemorieDeFleurs/MemorieDeFleursTest/bin/Debug/net5.0
/MemorieDeFleurs/MemorieDeFleursTest/obj
